<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="AutomationSuite" verbose="1" parallel="false">
    <test name="RegressionTests">
        <packages>
            <!-- Run all tests inside this package -->
            <package name="framework.tests"/>
        </packages>
    </test>
</suite>